.grid(@rowwidth: 16) {
  width: @rowwidth * (@p-page-width / @p-grid-columns);
  display: inline;
  float: left;
  overflow: hidden;
  .box-sizing();
}
.row {
  width: @p-page-width;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  .row {
    display: inline-block;
  }
}
.column(@num) {
  .grid(@num);
}