// {>o<} Perkins
@import "../stylesheets/perkins";

// {>o<} Core Bowties
@import "../stylesheets/perkins/grid";
@import "../stylesheets/perkins/table";
@import "../stylesheets/perkins/form";
@import "../stylesheets/perkins/feedback";
@import "../stylesheets/perkins/shapes";
@import "../stylesheets/perkins/ui";

//// {>o<} 3rd Party Bowties
@import "../stylesheets/plugins/mnmlicons/mnmlicons";

@p-sans: 'Open Sans', sans-serif;

@p-palette-saturation:            0;
@p-palette-lightness:             0;
@p-palette-hue:                   0;

@p-font-colors-link:              @p-orange;

body {
  margin: 0 auto;
  width: 98%;
}
p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #575757;
}
h1, h2, h3 {
  font-weight: 800;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.f-h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: lighten(@p-orange, 20%);
  line-height: 0;
  padding: 10px 10px 10px 0;
  margin: 15px 10px 10px 0;
  &:before {
    font-family: @p-mono;
    color: @p-orange;
    font-size: 12px;
    content: "{>o<}";
    position: relative;
    top: -3px;
    margin-right: 5px;
  }
}
.demogrid {
  background: @p-orange;
  border: 1px solid @p-white;
  .border-radius(3px);
  p {
    margin: 0;
    line-height: 0;
    padding: 20px 10px;
    display: block;
    color: @p-white;
    font-weight: bold;
  }
}
.iconDemo {
  position: relative;
  .icon-list {
    list-style: none;
    width: 11%;
    float: left;
    margin: 0 1% 0 0;
    li {
      list-style: none;
      font-size: 1.5em;
      color: rgba(0,0,0,0.80);
      cursor: pointer;
      width: 100%;
      margin: 0 0 10px;
      &:before, span {
        display: block;
        text-align: center;
      }
      span {
        font-size: 180%;
      }
      .i-name {
        margin-top: 5px;
        font-size: 11px !important;
        font-weight: bold;
        color: rgba(0,0,0,0.60);
      }
    }
  }
}
#headings, #elements {
  .column(16);
}
#elements {
  overflow: hidden;
  margin-bottom: 35px;
  address {
    display: inline;
  }
}
#lists {
  .list-1 {
    .column(16);
  }
  .list-2 {
    .column(16);
  }
  .list-3 {
    .column(16);
  }
}
#theArticle {
  .column(16);
  h1, h3 {
    text-transform: uppercase;
  }
  h6 {
    margin-bottom: 30px;
    color: #b7b7b7;
  }
  figure {
    margin: 10px auto;
  }
  pre {
    font-size: 1.3rem;
    font-weight: normal;
  }
}
#tables {
  display: none;
}



// Media Queries
@media (min-width:480px) {
  //@import "480";
}
@media (min-width:768px) {
  //@import "768";
  #lists {
    .list-1 {
      .column(8);
    }
    .list-2 {
      .column(8);
    }
  }
  #theArticle {
    figure {
      float: right;
      margin: 10px;
      figcaption {
        display: block;
        font-size: 1.3rem;
        line-height: 1;
        font-weight: bold;
      }
    }
    .cite {
      float: left;
      width: 200px;
    }
    p {
      max-width: 700px;
    }
  } 
  #tables {
    display: block;
  }
}
@media (min-width:960px) {
  //@import "960";
  body {
    width: 70%;
  }
  p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #575757;
  }
  #lists {
    .list-1 {
      .column(5);
    }
    .list-2 {
      .column(5);
    }
    .list-3 {
      .column(6);
      dd {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #575757;
      }
    }
  }
}
@media (min-width:1200px) {
  //@import "1200";
}